.userBoxList {
  display: flex;
  align-items: center;
}

.react-resizable {
  position: relative;
}

 .react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: col-resize;
}

.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #D3D3D3;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom-filter-dropdown input {
  width: 130px;
  margin-right: 8px;
}

.custom-filter-dropdown button {
  margin-right: 8px;
}

.highlight {
  color: #f50;
}