.searchbar {
  grid-area: searchbar;  
}

.bar {
  width: 100vw;
  height: 40px;
  background: #3d3e3f;
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.project-name-group {
  display:flex;
  align-items:center;
  margin-left: 2em;
}

.project-name {
  font-size: 16px;
  color: rgba(255,255,255,0.9);  
  margin-right: 1em;
  width: max-content;
}

.gear-icon {
  color: rgba(255,255,255,0.9);
}

.gear-icon:hover {
  color: rgba(255,255,255,1);
  cursor: pointer;
}


.searchgroup {
  display:flex;
  flex-direction: row;
  align-items:center;
  margin-right: 4em;
}

.searchbox {
  width: 300px;
  height: 30px;
  float: right;
}

.advanced-search {
  color: rgba(255,255,255,0.9); 
  float: right;
  margin-left: 30px;
  width: max-content;
}

.advanced-search:hover {
  cursor: pointer;
  text-decoration: underline;
}