.centered { 
  width: 100vw;
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

.ant-alert.error-alert {
  margin-bottom: 24px;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
  margin-top: 15px;
}

.error {
  height: 10px;
  margin-bottom: 20px;
  color: #f5222d;
}