.admin-sidebar {
  grid-area: adminsidebar;
}

.admin-content {
  grid-area: admincontent;
  background: rgb(187, 187, 187);
}

.admin-sidebar-icon {
  float: left;
}

.ui.vertical.menu .item > i.icon.left {
  float: none;
  margin: 0em 0.35714286em 0em 0em;
}
