.projects-page {
  grid-area: content;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr;
  grid-template-areas: "searchbar"
                       "splitpane";
}

.splitpane {
  grid-area: splitpane;
}
