td,
th {
  cursor: move;
  position: relative;
}

#button {
  float: right;
  clear: both;
  margin-left: 10px;
}

.modal {
  width: 100em;
  height: 500em;
  background-color: rgba(0, 0, 0, 0.7) !important;
  position: absolute;
  justify-content: center;
  display: flex;
  z-index: 10;
  border: 10em 10em 10em 10em;
}

.inputFields {
  margin-bottom: 10px !important;
}

.labels {
  color: black;
}